body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

.root {
  width: 100vw;
  height: 100vh;
}

.message {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 80px;
  border: 5px solid black;
  background: radial-gradient(circle at 70%, white, lightgrey);
  width: 800px;
  min-height: 100px;
  border-radius: 20px;
  padding: 20px;
  font-size: 22px;
  box-shadow: 6px 6px 12px grey;
}

.hud {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  gap: 10px;
}

.level-indicator {
  border: 3px solid black;
  width: 30px;
  height: 30px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.status-bar {
  width: 200px;
  height: 30px;
  right: 20px;
  top: 20px;
  border: 3px solid black;
  border-radius: 15px;
  background-size: 0%;
  background-image: linear-gradient(to right, rgb(88, 198, 23), rgb(31, 167, 24));
  background-repeat: no-repeat;
  display: flex;
}

.status-bar-text {
  font-size: 20px;
  margin: auto;
  margin-left: 12px;
}

.locked {
  filter: brightness(0.1) blur(0.5px)
}

.tile {
  display: inline-block;
}

.task-alert {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  display: block;
  border-radius: 22px;
  border: 2px solid black;
  background-color: rgb(216, 174, 95);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  color: rgb(149, 0, 0);
}